<!doctype html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Name Form</title>
</head>

<body>
	<div align="center">
		<h1>Ready for nerd shit?</h1>
		<h2>Too bad its under construction</h2>
		</ br>
		<img src="https://github.com/neherdata/sean-initiative.iswadeboggsalive.com/raw/refs/heads/main/weirdal.png"
			alt="Weird Al" width="300" height="400">
	</div>
	<h1>Enter names (comma-separated):</h1>
	<form method="post">
		<input type="text" name="names" style="width:400px;" placeholder="Alice, Bob, Charlie">
		<input type="submit" value="Submit">
	</form>

	{% if randoms %}
	<h2>Random Values for Parsed Names:</h2>
	<ul>
		{% for name in names %}
		<li>{{ name }}</li>
		{% endfor %}
	</ul>
	{% endif %}
</body>

</html>